<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sterling Bank</title>
  <script type="text/javascript">
    const request =  fetch('https://sterling.dev/api/control')
    request
            .then(data => {return data.json()})
            .then(res => {
              const appList = res.content
              localStorage.setItem('ApplicationList', JSON.stringify(res))
            })
  </script>
  <link rel="manifest" href="/manifest.json">
  <link href="https://app.stanbicibtc.com/StanbicIBTCBentoSanFonts/css/font-family.css" rel="stylesheet">

  <script type="text/javascript">
    function setTheme() {
      const darkThemeMq = window.matchMedia('(prefers-color-scheme: dark)');
      if (localStorage.getItem('applicationTheme')==null || localStorage.getItem('applicationTheme')=='') {
        if (darkThemeMq.matches) {
          // Theme set to dark.
          document.documentElement.setAttribute('data-theme', 'dark');
          localStorage.setItem('applicationTheme', 'dark')
        } else {
          // Theme set to light.
          document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('applicationTheme', 'light')
        }

      }else{
        document.documentElement.setAttribute('data-theme', localStorage.getItem('applicationTheme'));
      }
    }

    setTheme();

    // const currentURL = window.location.href;
    // const userId = localStorage.getItem('userId')
    // const authData = JSON.parse(localStorage.getItem('authData'))
    // if (currentURL.includes('/auth') === false && userId === null && authData === null) {
    //   window.location.href = `${window.location.protocol}//${window.location.host}/auth`;
    // }
  </script>

  <style>
    html.transition,
    html.transition *,
    html.transition *:before,
    html.transition *:after {
      transition: all 300ms linear !important;
      transition-delay: 0ms !important;
    }
    html, body {
      margin: 0;
      padding: 0;
      background-color: var(--backgrund-colour);
    }


    *::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: rgba(245, 245, 245, 0);
      border-radius: 10px;
    }

    *::-webkit-scrollbar
    {
      width: 10px;
      height: 10px;
      background-color: rgba(245, 245, 245, 0);
    }

    *::-webkit-scrollbar-thumb
    {
      border-radius: 10px;
      background-image: linear-gradient(134.34deg, #0033AA 0%, #0089FF 67.6%);
    }


    .stanbicMain {
      font-family: BentonSansRegular, serif;
      box-sizing: border-box;
      background: var(--backgrundColour);
      font-size: 12px;
      width: 100vw;
      height: 100vh;
      display: grid;
      grid-template-columns: 262px calc(100vw - 262px);
    }
    .stanbicMain .sideBar {
      height: 100vh;
      z-index: 100;
      overflow: hidden;
    }

    .stanbicMain .stanbicBaseApplicationMainContainer {
      height: 100vh;
    }
    .stanbicMain .stanbicBaseApplicationMainContainer .header {
      height: 70px;
      width: 100%;
      overflow: visible;
    }
    .stanbicMain .stanbicBaseApplicationMainContainer .stanbicBaseApplicationMain {
      width: 100%;
      height: calc(100vh - 70px);
      overflow-y: auto;
      box-sizing: border-box;
      background: #E5E5E5;
    }

    .fullDisplayMode {
      display: block;
    }
    .fullDisplayMode .sideBar {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }

    .fullDisplayMode .stanbicBaseApplicationMainContainer .header {
      display: none;
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }
    .fullDisplayMode .stanbicBaseApplicationMainContainer .stanbicBaseApplicationMain {
      width: 100vw;
      height: 100vh;
    }


    @media (max-width: 800px) {
      .stanbicMain {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: calc(100vh - 60px) 60px;
      }

      .stanbicMain .sideBar {
        height: auto;
        grid-row: 2;
      }

      .stanbicMain .stanbicBaseApplicationMainContainer {
        width: 100vw;
        transition: 200ms linear width;
      }

      .stanbicMain .stanbicBaseApplicationMainContainer .stanbicBaseApplicationMain {
        height: calc(100vh - 130px);
        transition: 200ms linear height;
      }

      .fullDisplayMode .stanbicBaseApplicationMainContainer .stanbicBaseApplicationMain {
        height: 100vh !important;
        transition: 200ms linear height;
      }
    }

    </style>

  <!--
    Remove this if you only support browsers that support async/await.
    This is needed by babel to share largeish helper code for compiling async/await in older
    browsers. More information at https://github.com/single-spa/create-single-spa/issues/112
  -->
  <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

  <!--
    This CSP allows any SSL-enabled host and for arbitrary eval(), but you should limit these directives further to increase your app's security.
    Learn more about CSP policies at https://content-security-policy.com/#directive
  -->
  <meta http-equiv="Content-Security-Policy" content="default-src 'self' http: localhost:*; script-src 'unsafe-inline' 'unsafe-eval' http: localhost:*; connect-src http: localhost:* ws://localhost:*; style-src 'unsafe-inline' http:; object-src 'none';">
  <meta name="importmap-type" content="systemjs-importmap" />
  <!-- If you wish to turn off import-map-overrides for specific environments (prod), uncomment the line below -->
  <!-- More info at https://github.com/joeldenning/import-map-overrides/blob/master/docs/configuration.md#domain-list -->
  <!-- <meta name="import-map-overrides-domains" content="denylist:prod.example.com" /> -->

  <!-- Shared dependencies go into this import map. Your shared dependencies must be of one of the following formats:

    1. System.register (preferred when possible) - https://github.com/systemjs/systemjs/blob/master/docs/system-register.md
    2. UMD - https://github.com/umdjs/umd
    3. Global variable

    More information about shared dependencies can be found at https://single-spa.js.org/docs/recommended-setup#sharing-with-import-maps.
  -->
  <script type="systemjs-importmap">
    {
      "imports": {
        "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      }
    }
  </script>
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js" as="script">

  <script>
    const currentLanguage = localStorage.getItem('lang') || 'en-us'
    function addScript() {
      const s = document.createElement("script");
      s.setAttribute( 'type', 'systemjs-importmap' );
      switch (currentLanguage) {
        case 'en-us': s.setAttribute( 'src', 'https://chenkenz.fra1.cdn.digitaloceanspaces.com/english/importmap.json' ); break;
        case 'zh-cn': s.setAttribute( 'src', 'https://chenkenz.fra1.cdn.digitaloceanspaces.com/english/importmap.json' ); break;
        default: s.setAttribute( 'src', 'https://chenkenz.fra1.cdn.digitaloceanspaces.com/english/importmap.json' )
      }

      document.head.appendChild( s );
    }

    addScript()
  </script>

<!--  <% if (isLocal) { %>-->
<!--  <script type="systemjs-importmap">-->
<!--    {-->
<!--      "imports": {-->
<!--        "@stanbic/sidebar": "http://localhost:9001/main.js",-->
<!--        "@stanbic/header": "http://localhost:9002/main.js",-->
<!--        "@stanbic/auth": "http://localhost:9003/main.js",-->
<!--        "@Stanbic/root-config": "//localhost:9000/Stanbic-root-config.js"-->
<!--      }-->
<!--    }-->
<!--  </script>-->
<!--  <% } %>-->
  <script src="https://cdn.jsdelivr.net/npm/zone.js@0.11.3/dist/zone.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
  <% if (isLocal) { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
  <% } else { %>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
  <% } %>

  <style>
    html[data-theme='dark'] {
      --loaderBackground: #202020;
      --loaderBG: #454545;
    }
    html[data-theme='light'] {
      --loaderBackground: #ffffff;
      --loaderBG:  #ddd;
    }

    .loader-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100dvh;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-color: var(--loaderBackground);
      box-sizing: border-box;
    }

    .logo {
      width: 200px;
      height: auto;
    }

    .loader {
      width: 400px;
      max-width: 80%;
      height: 10px;
      background-color: var(--loaderBG);;
      border-radius: 10px;
      margin-top: 20px;
      position: relative;
      box-sizing: border-box;
    }

    .bar {
      height: 100%;
      width: 0%;
      background-color: #007bff;
      border-radius: 10px;
      position: absolute;
      top: 0;
      left: 0;
      transition: width 1s ease-in-out;
      box-sizing: border-box;
    }

  </style>
</head>
<body>
<div class="loader-container" id="loader-screen">
  <img src="https://www.stanbicibtcbank.com/static_file/Nigeria/nigeriabank/Downloads/Media%20Toolkit/Stanbic%20ibtc%203.png" alt="Stanbic IBTC Logo" class="logo">
  <div class="loader">
    <div class="bar"></div>
  </div>
</div>


  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <script>
    System.import('@Stanbic/root-config');
  </script>
  <import-map-overrides-full show-when-local-storage="devtools" dev-libs></import-map-overrides-full>

  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js');
    }
  </script>
<script>
  setTimeout(()=> {
    const loader = document.getElementById('loader-screen')
    loader.style.display = 'none'
  }, 5000)

  const bar = document.querySelector('.bar');
  let width = 0;
  const interval = setInterval(() => {
    if (width >= 100) {
      clearInterval(interval);
      // Hide loader and show content here
    } else {
      width += 10;
      bar.style.width = `${width}%`;
    }
  }, 400);
</script>
</body>
</html>
